@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
  .header__logo {
    width: 254px;
    height: 66px;
  }
  .lead__title {
    font-size: 75px;
    width: 90%;
    margin-bottom: 25px;
  }
  .lead__subtitle {
    width: 90%;
    margin-bottom: 30px;
  }

  .lead__image {
    margin-bottom: 90px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .intro__title {
    font-size: 45px;
    width: calc(90% - 10px);
    padding-bottom: 50px;
  }

  .intro__cite {
    padding-bottom: 32px;
  }

  .intro__paragraph {
    padding-bottom: 88px;
  }
}
